.ContentComponentsPage{
    display: flex;
    margin-top: 30px ;

}
@media (max-width: 1400px) {
    .ContentComponentsPage {
      flex-direction: column-reverse;
    }}

.ContentComponentsLeftPart{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@media (max-width: 1400px) {
    .ContentComponentsLeftPart {
      width: 100%;
    }}


.topPart{
    height: 400px;
    margin-bottom: 40px;
    border-radius: 7px;

}
@media (max-width: 1400px) {
    .topPart {
      margin-right: 20px;
    }}


.bottomPart{
    display: flex;
    gap: 20px;
    height: 300px;
    margin-right: 20px; 
}
@media (max-width: 1400px) {
    .bottomPart {
      margin-right: 0px;
    }}


.recharts-wrapper{
    display: flex;
    align-items: center;
}