.piechart{
    width: 33%;
    background-color: #FBFBFB;
    position: relative;

}
.piechartTitle{
    position: absolute;
    top: 20px;
    left: 20px;
}

.piechartDescription{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;



}
.score{
    font-size: 30px;
    font-weight: 700;
}