.barchart{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 40px;
    background-color: #FBFBFB;

}

.title{
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 20px;
    width: 95%;
    justify-content: space-between;
}
.dayActivity{
    font-weight: 600;
}
.legendChartBar{
    display: flex;
    color: gray;
    font-weight: 600;

}
.legendChartBar p {
    margin-left: 10px;
}

.iconChartRed{
    margin-left: 30px;
}
.custom-tooltip{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 60px;
    color: white;
    font-size: 12px;

}